/* 什么是重置样式呢？将页面常用的标签的样式设置一下,在定义一些常用的样式 */
body,p,h1,h2,h3,h4{
    margin: 0px;
}

body{
    font-size: 12px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    color: #3c3c3c;
}

ul,ol{
    list-style: none;
}

input,button{
    margin: 0px;
    padding: 0px;
}

button{
    outline: none;
}

img {
    border: 0px;
    vertical-align: top;
}

a{
    text-decoration: none;
    color: #3c3c3c;
}

/* 下面是自定义的 */

.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.leayer{
    /* 定义宽度,居中 */
    width: 1190px;
    margin: 0 auto;
}

.mr10{
    margin-right: 10px;
}
.ml10{
    margin-left: 10px;
}

.c4{
    color: #f40;
}

.c5{
    color: #f50;
}